

.pm-bg-light-blue{
    background-color: #0066648a;

}

.pm-bg-blue{
    background-color: #01333496;

}

.pm-bg-red{
    background-color: #b54938ef;

}

.pm-bg-light-grey{
    background-color: #adafbe7a;

}

.pm-bg-light-green{
    background-color: #00666480;

}

.pm-bg-dark{
    background-color: #1e1e1ee4;

}
